h1{
    font-size: 36px;
    color: white;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
h3{
    font-size: 22px;
    color: white;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

